@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.elementType {
  width: 356px;
  height: 48px;
  padding: 10px;
  border-radius: 6px;
}

.success {
  background-color: rgb(167 243 208);
  border-left: 2px rgb(16 185 129) solid;
}

.success > span {
  color: rgb(6 78 59);
}

.error {
  background-color: rgb(254 205 211);
  border-left: 2px rgb(244 63 94) solid;
}
.error > span {
  color: rgb(136 19 55);
}
