:where([data-headless-toaster]) {
  width: var(--width);
  height: auto;
  position: fixed;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  z-index: 999999999;
  transition: transform 400ms ease;
}

:where([data-headless-toaster][data-x-position="right"]) {
  right: var(--offset-right);
}

:where([data-headless-toaster][data-x-position="left"]) {
  left: var(--offset-left);
}

:where([data-headless-toaster][data-x-position="center"]) {
  left: 50%;
  transform: translateX(-50%);
}

:where([data-headless-toaster][data-y-position="top"]) {
  top: var(--offset-top);
}

:where([data-headless-toaster][data-y-position="bottom"]) {
  bottom: var(--offset-bottom);
}

:where([data-headless-toast]) {
  /* width: auto;
  height: auto; */
  --y: translateY(100%);
  --lift-amount: calc(var(--lift) * var(--gap));
  z-index: var(--z-index);
  position: absolute;
  opacity: 0;
  transform: var(--y);
  filter: blur(0);
  transition: transform 400ms, opacity 400ms, height 400ms, box-shadow 200ms;
  box-sizing: border-box;
  outline: none;
  overflow-wrap: anywhere;
}

:where([data-headless-toast][data-y-position="top"]) {
  top: 0;
  --y: translateY(-100%);
  --lift: 1;
  --lift-amount: calc(1 * var(--gap));
}

:where([data-headless-toast][data-y-position="bottom"]) {
  bottom: 0;
  --y: translateY(100%);
  --lift: -1;
  --lift-amount: calc(var(--lift) * var(--gap));
}

:where([data-headless-toast]) > * {
  transition: opacity 400ms;
}

:where(
    [data-headless-toast][data-expanded="false"][data-front="false"][data-styled="true"]
  )
  > * {
  opacity: 0;
}

:where([data-headless-toast][data-mounted="true"]) {
  --y: translateY(0);
  opacity: 1;
}

:where([data-headless-toast][data-mounted="true"][data-expanded="true"]) {
  --y: translateY(calc(var(--lift) * var(--offset)));
  height: var(--initial-height);
}

:where([data-headless-toast][data-visible="false"]) {
  opacity: 0;
  pointer-events: none;
}

:where([data-headless-toast][data-expanded="false"][data-front="false"]) {
  --scale: var(--toasts-before) * 0.05 + 1;
  --y: translateY(calc(var(--lift-amount) * var(--toasts-before)))
    scale(calc(-1 * var(--scale)));
  height: var(--front-toast-height);
}

:where(
    [data-headless-toast][data-expanded="false"][data-front="false"][data-styled="true"]
  )
  > * {
  opacity: 0;
}

:where(
    [data-headless-toast][data-removed="true"][data-front="true"][data-swipe-out="false"]
  ) {
  --y: translateY(calc(var(--lift) * -100%));
  opacity: 0;
}

:where(
    [data-headless-toast][data-removed="true"][data-front="false"][data-swipe-out="false"][data-expanded="true"]
  ) {
  --y: translateY(calc(var(--lift) * var(--offset) + var(--lift) * -100%));
  opacity: 0;
}

:where(
    [data-headless-toast][data-removed="true"][data-front="false"][data-swipe-out="false"][data-expanded="false"]
  ) {
  --y: translateY(40%);
  opacity: 0;
  transition: transform 500ms, opacity 200ms;
}

/* Bump up the height to make sure hover state doesn't get set to false */
:where([data-headless-toast][data-removed="true"][data-front="false"])::before {
  height: calc(var(--initial-height) + 20%);
}
